# dependencies
node_modules/
.pnp
.pnp.*

# next.js
web/.next/
web/out/

# misc
.DS_Store
*.pem
npm-debug.log*
.env
server/.env
server/uploads/
uploads/

# typescript
*.tsbuildinfo
web/next-env.d.ts

.idea/
*.iml

